nav>ul>li{
    display: inline;
    margin: 30px 30px;

}
nav li > a{
    text-decoration: none;
}
footer{
    margin-top: 40px;
    text-align: center;
}
body{
    background-color: rgb(255, 213, 213);
    
}
.rupa >ul>li>p{
    display: inline;
    margin: 30px 30px;
}